/.vscode
/_pycache_
/images/catface/real
/images/sims/noise
/images/sims/microtubules/hires
/images/sims/microtubules/lores
/images/sims/microtubules/generated
/images/sims/mitochondria
/old-obsolete_code/
/tutorials/
/logs
network_flowchat.png
*.swp
