[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
torch = "*"
torchvision = "*"
tifffile = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
tensorboard = "*"
tqdm = "*"
flake8 = "*"
albumentations = "*"
pycodestyle = "*"
astropy = "*"
pynvim = "*"

[dev-packages]

[requires]
python_version = "3.8"
